body {
  margin: 0;
  background: linear-gradient(180deg, rgb(106, 147, 204), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #423f3f;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#signOut {
  width: 150px;
  margin: auto;
  border-radius: 8px;
  position: fixed;
  top: 15px;
  right: 15px;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

#logoHeader {
  width: 30%;
  height: auto;
  margin: auto;
  position: fixed;
  top: 15px;
  left: 35%;
}

@media only screen  and (max-width: 768px) {
  #logoHeader {
    width: 50%;
    margin: auto;
    position: fixed;
    top: 15px;
    left: 15px;
  }
}

@media only screen and (max-width: 1328px) and (min-width: 768px) {
  #logoHeader {
    width: 20%;
    margin: auto;
    position: fixed;
    top: 15px;
    left: 40%;
  }
}

@media only screen and (min-width: 1328px) {
  #logoHeader {
    width: 15%;
    margin: auto;
    position: fixed;
    top: 15px;
    left: 42.5%;
  }
}

#customerDataTable {
  top: 10%;
  max-height: 80%;
  width: 80%;
  height: auto;
  margin: auto;
}

.modalButton {
  margin: 2%;
  float: right;
}

#addCustomerButton {
  margin-left: 12px;
  position: relative;
  display: flex;
}

#app {
  width: 80%;
  height: auto;
}

.globalSearch {
  display: flex;
  justify-content: flex-start;
}