body {
  margin: 0;
  background: linear-gradient(180deg, rgb(106, 147, 204), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #423f3f;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#routeButtons {
  width: 12%;
  position: fixed;
  top: 3%;
  right: 1%;
}

#signOut {
  margin: 1%;
  width: 75%;
}

#dashboardButton {
  margin: 1%;
  width: 75%;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

#logoHeader {
  position: absolute;
  align-self: center;
  top: 1%;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  #dashboardButtonText {
    display: none;
  }

  #signOutButtonText {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  #dashboardButtonIcon {
    display: none;
  }

  #signOutButtonIcon {
    display: none;
  }
}

#customerDataTable {
  top: 10%;
  max-height: 80%;
  width: 80%;
  height: auto;
  margin: auto;
}

.modalButton {
  margin: 2%;
  float: right;
}

#addCustomerButton {
  margin-left: 12px;
  position: relative;
  display: flex;
}

#app {
  width: 80%;
  height: auto;
}

.globalSearch {
  display: flex;
  justify-content: flex-start;
}

.cardIcons {
  width: 80%;
  height: auto;
  margin: 10% 10% 0% 10%;
}

#customersCard {
  margin: 1%;
}

#mainMeterCard {
  margin: 1%;
}

.cards {
  width: 15%;
  height: 15%;
  min-width: 75px;
  overflow: hidden;
  display: inline-block;
  margin: 1%;
}

.cardTitle {
  text-align: center;
  font-size: 2vmin;
  margin: 0%;
}

.tableColumnSearchBox {
  width: 75%;
  height: auto;
}

.inputTextUpdateCustomer {
  margin: 1.5%;
  width: 40%;
}

.pageTitle {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: center;
  top: 20%;
}

.routerCards {
  display: flex;
  justify-content: center;
  margin-top: 35%;
}

div.p-card-body {
  padding: 1rem;
}

.sx-vue-calendar-wrapper {
  width: 1000px;
  max-width: 80vw;
  height: 600px;
  max-height: 70vh;
}

.calendar {
  position: absolute;
  top: 25%;
  align-self: center;
}

.eventInputBox {
  margin: 1%;
}

.mainMeterChart {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  min-width: 315px;
  margin: auto;
  position: absolute;
  top: 30%;
}

.chart {
  height: 5%;
}